#clustnet, #poemnet {
  width: 100%;
  height: 750;
  border: 1px solid lightgray;
}

.poem-text {
  font-family: "Times New Roman";
  font-weight: 400;
}

.poem-view-text {
  position: sticky;
  background-color: white;
  left: 50;
  min-width: 300px;
  max-width: 400px;
}

.poem-view-linenumber {
  position: sticky;
  background-color: white;
  left: 15;
  min-width: 40;
  max-width: 40;
}

.poem-view-freqbar {
  position: sticky;
  left: 0;
  z-index: 2;
  min-width: 15;
  max-width: 15;
}

.refrain {
  color: #777777;
}

.selected {
  background-color: #FFEEAA;
}

.cn, .c0, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    text-decoration: none
}
.c0 { background-color: rgb(235, 172, 35); fill: rgb(235, 172, 35) }
.c1 { background-color: rgb(184, 0, 88); fill: rgb(184, 0, 88) }
.c2 { background-color: rgb(0, 140, 249); fill: rgb(0, 140, 249) }
.c3 { background-color: rgb(0, 110, 0); fill: rgb(0, 110, 0) }
.c4 { background-color: rgb(0, 187, 173); fill: rgb(0, 187, 173) }
.c5 { background-color: rgb(209, 99, 230); fill: rgb(209, 99, 230) }
.c6 { background-color: rgb(178, 69, 2); fill: rgb(178, 69, 2) }
.c7 { background-color: rgb(255, 146, 135); fill: rgb(255, 146, 135) }
.c8 { background-color: rgb(89, 84, 214); fill: rgb(89, 84, 214) }
.c9 { background-color: rgb(0, 198, 248); fill: rgb(0, 198, 248) }
.c10 { background-color: rgb(135, 133, 0); fill: rgb(135, 133, 0) }
.c11 { background-color: rgb(0, 167, 108); fill: rgb(0, 167, 108) }
.c12 { background-color: rgb(189, 189, 189); fill: rgb(189, 189, 189) }
.g0 { background-color: #DDDDDD; fill: #DDDDDD; }
.g1 { background-color: #AAAAAA; fill: #AAAAAA; }

.tooltip-text {
  visibility: hidden;
  position: absolute;
  text-align: left;
  z-index: 5;
  width: 300px;
  color: black;
  font-size: 12px;
  font-weight: normal;
  background-color: #DDEEFF;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #2255AA;
}

.tooltip-text-right {
 top: -10px;
 right: 110%;
}

.tooltip-text a {
  color: #2255AA;
  text-decoration: none;
}

.hover-text {
  position: relative;
  cursor: pointer;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}
