<html>
<head>
<title>#{{ data['verse'].clust_id }} {{ data['verse'].text_norm }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/style.css">
<script lang="javascript" src="./static/js/jquery.min.js"></script>
<script lang="javascript" src="./static/js/bootstrap.min.js"></script>
<script
    type="text/javascript"
    src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"
  ></script>
</head>

<body>

{% if data['maintenance'] %}
<div class="alert alert-warning" role="alert">
<b>Warning!</b> A database update is ongoing. Some pages might not
function properly.
</div>
{% endif %}

<h1><small>#{{ data['verse'].clust_id }}</small> {{ data['verse'].text_norm }}</h1>

<ul class="nav nav-pills">
  <li role="presentation"><a role="button" href="/verse?nro={{ args['nro'] }}&pos={{ args['pos'] }}{% if args['clustering'] > 0 %}&clustering={{ args['clustering'] }}{% endif %}">
   <span class="glyphicon glyphicon-chevron-left"></span> Back to cluster
  </a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-cog"></span>
      Max. depth: {{ args['maxdepth'] }} <span class="caret"></span>
    </a>
   <ul class="dropdown-menu">
    {% for val in links['maxdepth'] %}
    <li role="presentation"><a href="{{ links['maxdepth'][val] }}">{{ val }}</a></li>
    {% endfor %}
   </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-cog"></span>
      Max. nodes: {{ args['maxnodes'] }} <span class="caret"></span>
    </a>
   <ul class="dropdown-menu">
    {% for val in links['maxnodes'] %}
    <li role="presentation"><a href="{{ links['maxnodes'][val] }}">{{ val }}</a></li>
    {% endfor %}
   </ul>
  </li>
  <li role="presentation"><a role="button" href="{{ links['*physics'] }}">
   <span class="glyphicon glyphicon-cog"></span> {% if args['nophysics'] %}Enable{% else %}Disable{% endif %} physics
  </a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Clustering: {{ data['clusterings'][args['clustering']][1] }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% for val in links['clustering'] %}
    <li role="presentation"><a href="{{ links['clustering'][val] }}">{{ val }}</a></li>
    {% endfor %}
    </ul>
  </li>
</ul>

<div id="clustnet"></div>
<script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
        { id: {{ data['verse'].clust_id }},
          label: "#{{ data['verse'].clust_id }} " + {{ data['verse'].text_norm | tojson }},
          shape: "box" , color: "#FFEEAA", title: "{{ data['verse'].clust_freq }} verses",
          link: "/verse?nro={{ args['nro'] }}&pos={{ args['pos'] }}"},
        {% for n in data['clustnet']['nodes'] %}
          { id: {{ n.clust_id }}, label: "#{{ n.clust_id }} " + {{ n.text_norm | tojson }}, shape: "box",
            title: "{{ n.clust_freq }} verses",
            link: "/verse?nro={{ n.nro }}&pos={{ n.pos }}{% if args['clustering'] > 0 %}&clustering={{ args['clustering'] }}{% endif %}"},
        {% endfor %}
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
        {% for e in data['clustnet']['edges'] %}
          { from: {{ e[0] }}, to: {{ e[1] }}, value: {{ e[2] }} },
        {% endfor %}
      ]);

      // create a network
      var container = document.getElementById("clustnet");
      var data = {
        nodes: nodes,
        edges: edges,
      };
      var options = { physics: { enabled: {% if args['nophysics'] %}false{% else %}true{% endif %} }}
      var network = new vis.Network(container, data, options);
      network.on("doubleClick", function (params) {
        for (n of nodes.get(params.nodes)) {
          if (n.link) {
            window.open(n.link)
          }
        }
      });
    </script>
</body>
</html>