<html>
<head>
<title>#{{ data['verse'].clust_id }} {{ data['verse'].text }}</title>
<script
    type="text/javascript"
    src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"
  ></script>
<style type="text/css">
      #clustnet {
        width: 100%;
        height: 750;
        border: 1px solid lightgray;
      }
    </style>
</head>

<body>

<h1><small>#{{ data['verse'].clust_id }}</small> {{ data['verse'].text }}</h1>

[<a href="/verse?nro={{ args['nro'] }}&pos={{ args['pos'] }}{% if args['clustering'] > 0 %}&clustering={{ args['clustering'] }}{% endif %}">back to cluster</a>]
[<a href="{{ links['+maxdepth'] }}">+</a>
/ <a href="{{ links['-maxdepth'] }}">-</a>
depth]
[<a href="{{ links['+maxnodes'] }}">+</a>
/ <a href="{{ links['-maxnodes'] }}">-</a>
nodes]
[<a href="{{ links['*physics'] }}">{% if args['physics'] %}enable{% else %}disable{% endif %} physics</a>]

<h2>Neighboring clusters</h2>
clustering: 
{% for c in data['clusterings'] %}
{% if args['clustering'] == c[0] %}
{{ c[1] }}
{% else %}
<a href="{{ links['clustering-' ~ c[0]] }}">{{ c[1] }}</a>
{% endif %}
{% endfor %}

<div id="clustnet"></div>
<script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
        { id: {{ data['verse'].clust_id }},
          label: "#{{ data['verse'].clust_id }} " + {{ data['verse'].text | tojson }},
          shape: "box" , color: "#FFEEAA", title: "{{ data['verse'].clust_freq }} verses",
          link: "/verse?nro={{ args['nro'] }}&pos={{ args['pos'] }}"},
        {% for n in data['clustnet']['nodes'] %}
          { id: {{ n.clust_id }}, label: "#{{ n.clust_id }} " + {{ n.text | tojson }}, shape: "box",
            title: "{{ n.clust_freq }} verses",
            link: "/verse?nro={{ n.nro }}&pos={{ n.pos }}{% if args['clustering'] > 0 %}&clustering={{ args['clustering'] }}{% endif %}"},
        {% endfor %}
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
        {% for e in data['clustnet']['edges'] %}
          { from: {{ e[0] }}, to: {{ e[1] }}, value: {{ e[2] }} },
        {% endfor %}
      ]);

      // create a network
      var container = document.getElementById("clustnet");
      var data = {
        nodes: nodes,
        edges: edges,
      };
      var options = { physics: { enabled: {% if args['nophysics'] %}false{% else %}true{% endif %} }}
      var network = new vis.Network(container, data, options);
      network.on("doubleClick", function (params) {
        for (n of nodes.get(params.nodes)) {
          if (n.link) {
            window.open(n.link)
          }
        }
      });
    </script>
</body>
</html>