<html>
<head>
<title>{% if args['source'] == "theme" %}{{ data['types'][args['theme_id']].name }}{% else %}Denrogram{% endif %} — Runoregi</title>
</head>
<body>
[<a href="/search">index</a>]
{% if args['source'] == "cluster" %}
[<a href="/poem?nro={{ args['nro'][0] }}">back to poem</a>]
{% elif args['source'] == "theme" %}
&gt;
{% for type_id in data['types'][args['theme_id']].ancestors | reverse %}
<a href="/theme?id={{ type_id }}">{{ data['types'][type_id].name }}</a> &gt;
{% endfor %}
<h1>{{ data['types'][args['theme_id']].name }}</h1>
<p>{{ data['types'][args['theme_id']].description }}</p>
{% endif %}
<p>
linking method:
{% for m in ["complete", "average", "single", "centroid", "ward"] %}
[{% if method != m %}<a href="{{ links['method-'+m] }}">{% endif %}{{ m }}{% if method != m %}</a>{% endif %}]
{% endfor %}
<br/>
neighborhood:
[<a href="{{ links['0nb'] }}">none</a>]
[<a href="{{ links['+nb'] }}">more</a>]
[<a href="{{ links['-nb'] }}">less</a>]
</p>

<svg version="1.1"
     width="100%" height="{{ 70 * data['n'] + 35 }}"
     xmlns="http://www.w3.org/2000/svg">
{% for i in data['ll'] %}
<a href="/poem?nro={{ data['nros'][i] }}">
<text x="420" y="{{ 70*loop.index0+15 }}" font-size="16" text-anchor="left"{% if data['nros'][i] not in data['inner'] %} fill="red"{% endif %}>{{ data['poems'][data['nros'][i]].smd.title }}</text>
<text x="420" y="{{ 70*loop.index0+30 }}" font-size="14" text-anchor="left">{{ data['poems'][data['nros'][i]].smd.location }}</text>
<text x="420" y="{{ 70*loop.index0+45 }}" font-size="14" text-anchor="left">{{ data['poems'][data['nros'][i]].smd.year }}&nbsp;{{ data['poems'][data['nros'][i]].smd.collector }}</text>
</a>
{% endfor %}

{% for x1, y1, x2, y2, x, y, nros in data['dd'] %}
<line x1="{{ x1 }}" y1="{{ y1 }}" x2="{{ x }}" y2="{{ y1 }}" style="stroke:black;stroke-width:1"/>
<line x1="{{ x2 }}" y1="{{ y2 }}" x2="{{ x }}" y2="{{ y2 }}" style="stroke:black;stroke-width:1"/>
<line x1="{{ x }}" y1="{{ y1 }}" x2="{{ x }}" y2="{{ y2 }}"  style="stroke:black;stroke-width:1"/>
{% endfor %}

{% for x1, y1, x2, y2, x, y, nros in data['dd'] %}
{% if x > 0 %}
<a href="/multidiff?nro={{ nros | join(',') }}">
<rect x="{{ x-10 }}" y = "{{ y-10 }}" width="{{ 20 }}" height="{{ 20 }}" fill="blue"/>
</a>
{% endif %}
{% endfor %}
</svg>
</body>
</html>