[<a href="/multidiff?nro={{ nro | join (',') }}&method={{ method }}&t={{ threshold }}&format=csv">CSV</a>
 / <a href="/multidiff?nro={{ nro | join (',') }}&method={{ method }}&t={{ threshold }}&format=tsv">TSV</a>]
[ <a href="/poemnet?nro={{ nro | join(',') }}">network view</a> ]
[ linking method:
{% for m in ["none", "complete", "average", "single"] %}
{% if method != m %}<a href="/multidiff?nro={{ nro | join (',') }}&method={{ m }}">{% endif %}{{ m }}{% if method != m %}</a>{% endif %}
{% endfor %}][
<a href="/multidiff?nro={{ nro | join (',') }}&method={{ method }}&t={{ [threshold-0.05, 0] | max }}">lower</a>
/
<a href="/multidiff?nro={{ nro | join (',') }}&method={{ method }}&t={{ [threshold+0.05, 1] | min }}">higher</a>
threshold
]
<table>
  <tr>
    {% for p in poems %}
    <td width="350">
      {% if loop.index0 > 0 %}<small>[<a href="/poemdiff?nro1={{ poems[loop.index0-1].smd.nro}}&nro2={{ p.smd.nro }}">&lt;~</a>]</small>{% endif %}
      <small>[<a href="/poem?nro={{ p.smd.nro }}">to poem</a>]</small>
      <small>[<a href="/multidiff?nro={{ poems | map(attribute='smd') | map(attribute='nro') | reject('eq', p.smd.nro) | join(',') }}">remove</a>]</small>
      {% if loop.index0+1 < poems | length %}<small>[<a href="/poemdiff?nro1={{ p.smd.nro }}&nro2={{ poems[loop.index0+1].smd.nro}}">~&gt;</a>]</small>{% endif %}
      <h2>{{ p.smd.title }}</h2>
      <small> {{ p.smd.nro }}<br /> </small>
      <small> {{ p.smd.location }}<br /> </small>
      <small> {{ p.smd.year }}&nbsp;{{ p.smd.collector }}</small>
    </td>
    {% endfor %}
  </tr>
  {% for key in meta_keys %}
  <tr>
    {% for p in poems %}
    <td width="350">
      {% if p.meta[key] is defined %}<small><b>{{ key }}:</b> {{ p.meta[key] }}</small>{% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    {% for p_themes in themes %}
    <td valign="top">
      <small>
        {% for d, p, minor, t in p_themes %}
        {% if minor %}<font color="gray">{% endif %}{{ p | join('\u2003') }} {{ t[1] }}{% if minor %}</font>{% endif %}<br/>
        {% endfor %}
      </small>
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
    {% for verses in alignment %}
  </tr>

  <tr>
    {% for v in verses %}
    <td>{% if v is defined %}{{ v.text }}{% endif %}</td>
    {% endfor %}
  </tr>
  {% endfor %}
<!-- <tr>{% for s in scores %} <td>{{ s }}</td> {% endfor %}<td></td></tr> -->
symmetric similarities:<br/>
</table>
<hr>
<small>
<table>
<tr>
<td><b>symmetric similarity</b></td>
{% for j in range(m.shape[1]) %}
<td>{{ nro[j] }}</td>
{% endfor %}
</tr>
{% for i in range(m.shape[0]) %}
<tr>
<td>{{ nro[i] }}</td>
{% for j in range(m.shape[1]) %}
<td>{{ (m[i,j]*100) | int }}%</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<table>
<tr>
<td><b>one-sided similarity</b></td>
{% for j in range(m.shape[1]) %}
<td>{{ nro[j] }}</td>
{% endfor %}
</tr><br><br>
{% for i in range(m.shape[0]) %}
<tr>
<td>{{ nro[i] }}</td>
{% for j in range(m.shape[1]) %}
<td>{{ (m_onesided[i,j]*100) | int }}%</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</small>
