<html>
<head>
<title>Multi-poem comparison — Runoregi</title>
</head>

<body>
[<a href="{{ links['csv'] }}">CSV</a>
 / <a href="{{ links['tsv'] }}">TSV</a>]
[ <a href="/poemnet?nro={{ args['nro'] | join(',') }}">network view</a> ]
[ linking method:
{% for m in ["none", "complete", "average", "single"] %}
{% if method != m %}<a href="{{ links['method-'+m] }}">{% endif %}{{ m }}{% if method != m %}</a>{% endif %}
{% endfor %}][
<a href="{{ links['-t'] }}">lower</a>
/
<a href="{{ links['+t'] }}">higher</a>
threshold
]
<table>
  <tr>
    {% for p in data['poems'] %}
    <td width="350">
      {% if loop.index0 > 0 %}<small>[<a href="/poemdiff?nro1={{ data['poems'][loop.index0-1].nro}}&nro2={{ p.nro }}">&lt;~</a>]</small>{% endif %}
      <small>[<a href="/poem?nro={{ p.nro }}">to poem</a>]</small>
      <small>[<a href="/multidiff?nro={{ data['poems'] | map(attribute='nro') | reject('eq', p.nro) | join(',') }}">remove</a>]</small>
      {% if loop.index0+1 < data['poems'] | length %}<small>[<a href="/poemdiff?nro1={{ p.nro }}&nro2={{ data['poems'][loop.index0+1].nro}}">~&gt;</a>]</small>{% endif %}
      <h2>{{ p.smd.title }}</h2>
      <small> {{ p.nro }}<br /> </small>
      <small> {{ p.smd.location }}<br /> </small>
      <small> {{ p.smd.year }}&nbsp;{{ p.smd.collector }}</small>
    </td>
    {% endfor %}
  </tr>
  {% for key in data['meta_keys'] %}
  <tr>
    {% for p in data['poems'] %}
    <td width="350">
      {% if p.meta[key] is defined %}<small><b>{{ key }}:</b> {{ p.meta[key] }}</small>{% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    {% for p in data['poems'] %}
    <td valign="top">
      <small>
        {% for line in p.type_tree %}
        {% if line.is_minor %}<font color="gray">{% endif %}{{ line.prefix | join('\u2003') }} {{ data['types'][line.type_id].name }}{% if line.is_minor %}</font>{% endif %}<br/>
        {% endfor %}
      </small>
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
    {% for verses in data['alignment'] %}
  </tr>

  <tr>
    {% for v in verses %}
    <td>{% if v is defined %}{{ v.text }}{% endif %}</td>
    {% endfor %}
  </tr>
  {% endfor %}
<!-- <tr>{% for s in scores %} <td>{{ s }}</td> {% endfor %}<td></td></tr> -->
symmetric similarities:<br/>
</table>
<hr>
<small>
<table>
<tr>
<td><b>symmetric similarity</b></td>
{% for j in range(data['m'].shape[1]) %}
<td>{{ args['nro'][j] }}</td>
{% endfor %}
</tr>
{% for i in range(data['m'].shape[0]) %}
<tr>
<td>{{ args['nro'][i] }}</td>
{% for j in range(data['m'].shape[1]) %}
<td>{% if data['m'][i,j] > 0 %}{{ (data['m'][i,j]*100) | int }}%{% endif %}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<table>
<tr>
<td><b>one-sided similarity</b></td>
{% for j in range(data['m'].shape[1]) %}
<td>{{ args['nro'][j] }}</td>
{% endfor %}
</tr><br><br>
{% for i in range(data['m'].shape[0]) %}
<tr>
<td>{{ args['nro'][i] }}</td>
{% for j in range(data['m'].shape[1]) %}
<td>{% if data['m_onesided'][i,j] > 0 %}{{ (data['m_onesided'][i,j]*100) | int }}%{% endif %}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</small>

</body>
</html>
