<html>
<head>
<title>Similar passages — Runoregi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/style.css">
<script lang="javascript" src="./static/js/jquery.min.js"></script>
<script lang="javascript" src="./static/js/bootstrap.min.js"></script>
</head>

<body>

{% if data['maintenance'] %}
<div class="alert alert-warning" role="alert">
<b>Warning!</b> A database update is ongoing. Some pages might not
function properly.
</div>
{% endif %}

<div class="container-fluid">
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">

<ul class="nav nav-pills">
  <li role="presentation"><a role="button" href="/poem?nro={{ args['nro'] }}">
   <span class="glyphicon glyphicon-chevron-left"></span> Back to poem
  </a></li>
</ul>

<h1>Similar passages ({{ data['passages'] | length }})</h1>
<div class="panel panel-primary">
<div class="panel-body">

<ul class="nav nav-pills">
  <li role="presentation"><a role="button" class="hover-text">
   <span class="glyphicon glyphicon-info-sign"></span>
   <div class="tooltip-text">
   <p>The results below show passages consisting of verses belonging to
   the same verse clusters as in the selected passage. The following
   parameters can be adjusted:</p>
   <p><b>Max. distance</b> &ndash; the maximum distance between two matching
   verses,<br/>
   <b>Min. hit proportion</b> &ndash; the minimum number of matching
   verses relatively to the length of the selected passage,<br/>
   <b>Context</b> &ndash; the amount of verses shown as context around
   the matching passage.</p>
   <p>The matching verses are shown in bold.</b>
   </div>
  </a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-cog"></span>
    Max. distance: {{ args['dist'] }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for val in links['dist'] %}
      <li role="presentation"><a href="{{ links['dist'][val] }}">{{ val }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-cog"></span>
    Min. hit proportion: {{ args['hitfact'] }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for val in links['hitfact'] %}
      <li role="presentation"><a href="{{ links['hitfact'][val] }}">{{ val }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-cog"></span>
    Context: {{ args['context'] }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for val in links['context'] %}
      <li role="presentation"><a href="{{ links['context'][val] }}">{{ val }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-list-alt"></span>
      Export as <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    <li role="presentation"><a href="{{ links['csv'] }}">CSV</a></li>
    <li role="presentation"><a href="{{ links['tsv'] }}">TSV</a></li>
    </ul>
  </li>
  {% if links['map_lnk'] %}
  <li role="presentation"><a role="button" target="_blank" href="{{ links['map_lnk'] }}">
   <span class="glyphicon glyphicon-picture"></span> Map
  </a></li>
  {% endif %}
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Clustering: {{ data['clusterings'][args['clustering']][1] }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% for c in data['clusterings'] %}
    <li role="presentation"><a href="{{ links['clustering'][c[0]] }}" title="{{ c[2] }}">{{ c[1] }}</a></li>
    {% endfor %}
    </ul>
  </li>
  <li role="presentation"><a role="button" href="{{ links['dendrogram'] }}">
   <span class="glyphicon glyphicon-tree-conifer"></span>
   Dendrogram
  </a></li>
</ul>

<div class="container-fluid">

{% for pas in data['passages'] %}

<div class="row">
<div class="col-md-12">
<hr/>
</div>
</div>
<div class="row">
<div class="col-md-4{% if pas['nro'] == args['nro'] %} selected{% endif %}">
<b><a href="/poem?nro={{ pas['nro'] }}&hl={{ pas['matches'] | join(',') }}#{{ pas['matches'][0] }}">
{{ data['poems'][pas['nro']].smd.title }}
</a></b>

<p>
<span class="glyphicon glyphicon-tag" aria-hidden="true" title="poem ID"></span>
  {{ pas['nro'] }}<br/>
{% if data['poems'][pas['nro']].smd.place is not none %}
<span class="glyphicon glyphicon-map-marker" aria-hidden="true" title="place"></span>
  {{ data['poems'][pas['nro']].smd.place }}<br/>
{% endif %}
{% if data['poems'][pas['nro']].smd.year is not none %}
<span class="glyphicon glyphicon-calendar" aria-hidden="true" title="year"></span>
  {{ data['poems'][pas['nro']].smd.year }}&emsp;
{% endif %}
{% if data['poems'][pas['nro']].smd.collector is not none %}
<span class="glyphicon glyphicon-user" aria-hidden="true" title="collector"></span>
  {{ data['poems'][pas['nro']].smd.collector }}
{% endif %}
</p>

</div>
<div class="col-md-4">
{% for v in pas['verses'] %}
<tr>
<sup><small>{{ v.pos }}</small></sup>&thinsp;
{% if v.pos in pas['matches'] %}<b>{% endif %}{{ v.text_norm }}{% if v.pos in pas['matches'] %}</b>{% endif %}<br/>
{% endfor %}
</div>

<div class="col-md-4">
<p style="line-height: 1;">
{% for line in data['poems'][pas['nro']].type_tree %}
{% if line.is_minor %}<font color="gray">{% endif %}{{ line.prefix | join('\u2003') }} {{ data['types'][line.type_id].name }}{% if line.is_minor %}</font>{% endif %}<br/>
{% endfor %}
</p>
</div>
</div>

{% endfor %}
</div>
</div>
</div>
<div class="col-lg-2"></div>

</div>
</div>
</div>

</body>
</html>

