<html>
<head>
<title>Similar passages — Runoregi</title>
<link rel="stylesheet" href="./static/style.css">
</head>

<body>
<h1>Similar passages</h1>

[<a href="{{ links['+results'] }}">more results</a>]
[<a href="{{ links['-results'] }}">less results</a>]
[<a href="{{ links['+context'] }}">more context</a>]
[<a href="{{ links['-context'] }}">less context</a>]
[<a href="/passage?nro={{ args['nro'] }}&start={{ args['start'] }}&end={{ args['end'] }}{% if args['clustering'] > 0 %}&clustering={{ args['clustering'] }}{% endif %}">reset to defaults</a>]
[<a href="{{ links['csv'] }}">CSV</a>
/ <a href="{{ links['tsv'] }}">TSV</a>]
[<a href="{{ links['map_lnk'] }}">map</a>]<br/>
clustering: 
{% for c in data['clusterings'] %}
{% if args['clustering'] == c[0] %}
{{ c[1] }}
{% else %}
<a href="{{ links['clustering-' ~ c[0]] }}">{{ c[1] }}</a>
{% endif %}
{% endfor %}

<table>
  <tr><td><hr/></td></tr>
  {% for pas in data['passages'] %}
  <tr><td{% if pas['hl'] %} bgcolor="FFEEAA"{% endif %}>
    <table>
    <tr>
      <td valign="top">
        <b><a href="/poem?nro={{ pas['nro'] }}&hl={{ pas['matches'] | join(',') }}#{{ pas['matches'][0] }}">
	  {{ data['poems'][pas['nro']].smd.title }}
	</a></b>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
    {% for v in pas['verses'] %}
	<tr>
          <td align="right"><sup><small>{{ v.pos }}</small></sup>&thinsp;</td>
      <td>{% if v.pos in pas['matches'] %}<b>{% endif %}{{ v.text }}{% if v in pas['matches'] %}</b>{% endif %}</td>
	</tr>
	{% endfor %}
	</table>
      </td>
    </tr>
    </table>
    <table>
    <tr>
    <td valign="top" width="400">
      &emsp;<small>{{ pas['nro'] }}</small><br/>
      &emsp;{{ data['poems'][pas['nro']].smd.location }}<br/>
      &emsp;{{ data['poems'][pas['nro']].smd.year }}&ensp;{{ data['poems'][pas['nro']].smd.collector }}
    </td>
    <td valign="top" width="400">
      <small>
      {% for line in data['poems'][pas['nro']].type_tree %}
      {% if line.is_minor %}<font color="gray">{% endif %}{{ line.prefix | join('\u2003') }} {{ data['types'][line.type_id].name }}{% if line.is_minor %}</font>{% endif %}<br/>
      {% endfor %}
      </small>
    </td>
    </tr>
    </table>
  </td></tr>
  <tr><td><hr/></td></tr>
  {% endfor %}
</table>

</body>
</html>
