<h1>Similar passages</h1>

[<a href="/passage?nro={{ nro }}&start={{ start }}&end={{ end }}&context={{ context }}&dist={{ dist+1 }}&hitfact={{ hitfact*0.8 }}">more results</a>]
[<a href="/passage?nro={{ nro }}&start={{ start }}&end={{ end }}&context={{ context }}&dist={{ [dist-1, 1] | max }}&hitfact={{ [hitfact*1.25, 1] | min }}">less results</a>]
[<a href="/passage?nro={{ nro }}&start={{ start }}&end={{ end }}&context={{ context+2 }}&dist={{ dist }}&hitfact={{ hitfact }}">more context</a>]
[<a href="/passage?nro={{ nro }}&start={{ start }}&end={{ end }}&context={{ [context-2, 0] | max }}&dist={{ dist }}&hitfact={{ hitfact }}">less context</a>]
[<a href="/passage?nro={{ nro }}&start={{ start }}&end={{ end }}">reset to defaults</a>]

<table>
  <tr><td><hr/></td></tr>
  {% for h in hits %}
  <tr><td{% if h['hl'] %} bgcolor="FFEEAA"{% endif %}>
    <table>
    <tr>
      <td valign="top">
        <b><a href="/poem?nro={{ smd[h['p_id']].nro }}&hl={{ h['verses'] | selectattr(3) | map(attribute=1) | join(',') }}#{{ h['verses'] | map(attribute=1) | min }}">
	  {{ smd[h['p_id']].title }}
	</a></b>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
	{% for v_id, pos, text, hl in h['verses'] %}
	<tr>
          <td align="right"><sup><small>{{ pos }}</small></sup>&thinsp;</td>
	  <td>{% if hl %}<b>{% endif %}{{ text }}{% if hl %}</b>{% endif %}</td>
	</tr>
	{% endfor %}
	</table>
      </td>
    </tr>
    </table>
    <table>
    <tr>
    <td valign="top" width="400">
      &emsp;{{ smd[h['p_id']].location }}<br/>
      &emsp;{{ smd[h['p_id']].year }}&ensp;{{ smd[h['p_id']].collector }}
    </td>
    <td valign="top" width="400">
      <small>
      {% for d, p, minor, t in h['themes'] %}
      {% if minor %}<font color="gray">{% endif %}{{ p | join('\u2003') }} {{ t }}{% if minor %}</font>{% endif %}<br/>
      {% endfor %}
      </small>
    </td>
    </tr>
    </table>
  </td></tr>
  <tr><td><hr/></td></tr>
  {% endfor %}
</table>
