<script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/dist/selection.min.js"></script>
<style>
  .selected {
    color: red
  }
  .cn, .c0, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
      text-decoration: none
  }
  .c0 { background-color: rgb(235, 172, 35) }
  .c1 { background-color: rgb(184, 0, 88) }
  .c2 { background-color: rgb(0, 140, 249) }
  .c3 { background-color: rgb(0, 110, 0) }
  .c4 { background-color: rgb(0, 187, 173) }
  .c5 { background-color: rgb(209, 99, 230) }
  .c6 { background-color: rgb(178, 69, 2) }
  .c7 { background-color: rgb(255, 146, 135) }
  .c8 { background-color: rgb(89, 84, 214) }
  .c9 { background-color: rgb(0, 198, 248) }
  .c10 { background-color: rgb(135, 133, 0) }
  .c11 { background-color: rgb(0, 167, 108) }
  .c12 { background-color: rgb(189, 189, 189) }
  .g0 { background-color: #DDDDDD }
  .g1 { background-color: #AAAAAA }
</style>
[<a target="_parent" href="/">to index</a>]
<h1>{{ p.smd.title }}</h1>

<small>{{ p.smd.nro }}</small><br/>
{{ p.smd.location }}<br/>
{{ p.smd.year }}&ensp;{{ p.smd.collector }}

<h2>Metadata</h2>
<table>
  {% for key, val in p.meta.items() %}
  <tr>
    <td align="right" width="50"><b>{{ key }}&ensp;</b></td>
    <td width="350">{{ val }}</td></tr>
  {% endfor %}
</table>

<h2>Themes</h2>
{% for d, p, minor, t in themes %}
{% if minor %}<font color="gray">{% endif %}{{ p | join('\u2003') }} {% if minor %}<small>{% endif %}<a href="/theme?id={{ t[0] }}">{{ t[1] }}</a>{% if minor %}</small></font>{% endif %}<br/>
{% endfor %}

{% if sim_poems %}
<h2>Similar poems</h2>
<p><small>[<a href="/multidiff?nro={{ p.smd.nro }},{{ sim_poems | map(attribute=0) | map(attribute='nro') | join(',') }}">compare all</a>]</small></p>
{% endif %}

<table style="user-select: none">
{% for sp in sim_poems %}
  <tr>
    <td align="right">
    <a href="/poemdiff?nro1={{ p.smd.nro }}&nro2={{ sp[0].nro }}">{{ sp[0].title }}</a>
      &ensp;
    </td>
    <td>
      <img src="/static/img/blue.png" width="{{ (sp[1]*300) | int }}" height="10">
      &ensp;<small>{{ (sp[1]*100) | int }} %&emsp;</small>
    </td>
    <td>
      <small>{{ sp[0].year }}</small>
    </td>
    <td>
      <small>{{ sp[0].location }}</small>
    </td>
    <td>
      <small>{{ sp[0].collector }}</small>
    </td>
  </tr>
  {% endfor %}
</table>

{% if sim_poems_right %}
<h2>Contains poems</h2>
<p><small>[<a href="/multidiff?nro={{ p.smd.nro }},{{ sim_poems_right | map(attribute=0) | map(attribute='nro') | join(',') }}">compare all</a>]</small></p>
{% endif %}

<table style="user-select: none">
{% for sp in sim_poems_right %}
  <tr>
    <td align="right">
    <a href="/poemdiff?nro1={{ p.smd.nro }}&nro2={{ sp[0].nro }}">{{ sp[0].title }}</a>
      &ensp;
    </td>
    <td>
      <img src="/static/img/blue.png" width="{{ (sp[1]*300) | int }}" height="10">
      &ensp;<small>{{ (sp[1]*100) | int }} %&emsp;</small>
    </td>
    <td>
      <small>{{ sp[0].year }}</small>
    </td>
    <td>
      <small>{{ sp[0].location }}</small>
    </td>
    <td>
      <small>{{ sp[0].collector }}</small>
    </td>
  </tr>
  {% endfor %}
</table>


{% if sim_poems_left %}

<h2>Contained in poems</h2>

<p><small>[<a href="/multidiff?nro={{ p.smd.nro }},{{ sim_poems_left | map(attribute=0) | map(attribute='nro') | join(',') }}">compare all</a>]</small></p>
{% endif %}

<table style="user-select: none">
{% for sp in sim_poems_left %}
  <tr>
    <td align="right">
    <a href="/poemdiff?nro1={{ p.smd.nro }}&nro2={{ sp[0].nro }}">{{ sp[0].title }}</a>
      &ensp;
    </td>
    <td>
      <img src="/static/img/blue.png" width="{{ (sp[1]*300) | int }}" height="10">
      &ensp;<small>{{ (sp[1]*100) | int }} %&emsp;</small>
    </td>
    <td>
      <small>{{ sp[0].year }}</small>
    </td>
    <td>
      <small>{{ sp[0].location }}</small>
    </td>
    <td>
      <small>{{ sp[0].collector }}</small>
    </td>
  </tr>
  {% endfor %}
</table>

<h2>Text</h2>
<p>
    Showing top {{ nr_linked_poems }}
    (<a href="{{ links['-max_similar'] }}">-10</a>/<a href="{{ links['+max_similar'] }}">+10</a>) out of {{ poems_sharing_verses }} poems sharing verses with this one based on the number of shared [
{% if sim_order=="consecutive_rare" %}
    consecutive rare
{% else %}<a href="{{ links['sim_order:consecutive_rare'] }}">consecutive rare</a>
{% endif %}
    /
{% if sim_order=="consecutive" %} consecutive
{% else %}<a href="{{ links['sim_order:consecutive'] }}">consecutive</a>
{% endif %}
    /
{% if sim_order=="rare" %} rare
{% else %}<a href="{{ links['sim_order:rare'] }}">rare</a>
{% endif %}
    /
{% if sim_order=="shared" %} any
{% else %}<a href="{{ links['sim_oder:any'] }}">any</a>
{% endif %}
    ] verses
</p>
<table cellspacing="0" cellpadding="2">
  {% for v in verses %}
  <tr>
    {% if v[0]-1 in verse_themes %}
    <td rowspan={{ verse_themes[v[0]-1][0] }} class="g{{ verse_themes[v[0]-1][2] % 2 }}">
      {{ verse_themes[v[0]-1][1] }}
    </td>
    {% endif %}
    {% if v[3] == "V" %}
      <td bgcolor="{{ v[2] }}">
        <a name="{{ v[0] }}" href="/verse?nro={{ p.smd.nro }}&pos={{ v[0] }}" title="{{ v[1] }}" class="cn">&nbsp;&nbsp;&nbsp;
        </a>
      </td>
      <td align="right" width="35">&ensp;<sup><small>{{ v[0] }}</small></sup></td>
      <td width="350" class="verse" id="{{ v[0] }}">
      {% if v[0] in hl %}
        <b>{{ v[4] }}</b>
      {% else %}
        {{ v[4] }}
      {% endif %}</td>
      <td bgcolor="{{ v[2] }}">
        <a name="{{ v[0] }}" href="/verse?nro={{ p.smd.nro }}&pos={{ v[0] }}" title="{{ v[1] }}" class="cn">&nbsp;&nbsp;&nbsp;
        </a>
      </td>
    {% else %}
      {% if v[3] == "L" %}
      <td></td><td></td><td><small><i>{{ v[4] }}</i></small></td><td></td>
      {% elif v[3] == "K" %}
      <td></td><td></td><td><small>{{ v[4] }}</small></td><td></td>
      {% elif v[3] == "CPT" %}
      <td colspan="4" align="center">
        <h4>{{ v[4] }}</h4>
      </td>
      {% endif %}
    {% endif %}
    <td>
    {% for p2 in linked_poems %}
        {% if v[5] in verse_poems and p2 in verse_poems[v[5]] %}
            <a href="/poemdiff?nro1={{ p.smd.nro }}&nro2={{ p2 }}" class="c{{ loop.index % 13}}" title="{{ p2 }}">&nbsp;&nbsp;&nbsp;</a>
        {% else %}
            <span class="cn">&nbsp;&nbsp;&nbsp;</span>
        {% endif %}
    {%  endfor %}
    </td>
  </tr>
  {% endfor %}
  <tr><td colspan="5"><hr/></td></tr>
  <tr><td colspan="5" style="word-wrap: break-word; max-width: 500px">
    <small>
    {% for r in refs %}
    {{ r }}<br/>
    {% endfor %}
    </small>
  </td></tr>
</table>
<script lang="javascript">
  const ds = new Selection({
    selectables: '.verse'
  })
  ds.on('move', ({ changed: { removed, added } }) => {
      for (const el of added)
        el.classList.add('selected')
      for (const el of removed)
        el.classList.remove('selected')
    })
  ds.on('stop', ({inst,selected}) => {
    inst.clearSelection()
    window.open('/passage?nro={{ p.smd.nro }}&start=' + selected[0].id + '&end=' + selected[selected.length - 1].id,'_self')
  })
</script>

