<html>
<head>
<title>{{ data['title'] | striptags }} — Runoregi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

{% if data['maintenance'] %}
<div class="alert alert-warning" role="alert">
<b>Warning!</b> A database update is ongoing. Some pages might not
function properly.
</div>
{% endif %}

<ul class="nav nav-pills">
<li role="presentation"><a role="button" href="/" title="to index">
 <span class="glyphicon glyphicon-home"></span>
</a></li>
{% if args['source'] == "type" %}
{% for t in data['types'][args['id']].ancestors | reverse %}
<li role="presentation"><a role="button" href="/poemlist?source=type&id={{ t }}">
 <span class="glyphicon glyphicon-chevron-right"></span>
{{ data['types'][t].name }}
</a></li>
{% endfor %}
{% endif %}
</ul>

<div class="page-header">
<h1 style="margin-left: 20px;">{{ data['title'] | safe }}</h1>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">

{% if data['description'] %}
<div class="panel panel-primary">
<div class="panel-body">
<p style="margin-left: 20px;">{{ data['description'] | safe }}</p>
</div>
</div>
{% endif %}

{% if args['source'] == "type" and data['tree'] %}
<div class="panel panel-primary">
<div class="panel-heading"><h2 class="panel-title">Subcategories</h2></div>
<div class="panel-body">
{% for line in data['tree'] %}
{{ line.prefix | join('\u2003') }} <a href="/poemlist?source=type&id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a><br/>
{% endfor %}

{% elif args['source'] == "place" and data['parishes'] %}
<div class="panel panel-primary">
<div class="panel-heading"><h2 class="panel-title">Parishes ({{ data['parishes'] | length }})</h2></div>
<div class="panel-body">
<ul>
{% for place_id, place_name, npoems in data['parishes'] %}
<a href="/poemlist?source=place&id={{ place_id }}">{{ place_name }}</a>&nbsp;({{ npoems }}){% if loop.index0 < data['parishes'] | length - 1 %}, {% endif %}
{% endfor %}
</ul>
</div>
</div>
{% endif %}

{% if data['poems'] %}
<div class="panel panel-primary">
<div class="panel-heading"><h2 class="panel-title">Poems ({{ data['poems'] | length }})</h2></div>
<div class="panel-body">

<ul class="nav nav-pills">
  {% if links['dendrogram'] %}
  <li role="presentation"><a role="button" target="_blank" href="{{ links['dendrogram'] }}">
   <span class="glyphicon glyphicon-tree-conifer"></span> Dendrogram
  </a></li>
  {% endif %}
  {% if links['map'] %}
  <li role="presentation"><a role="button" target="_blank" href="{{ links['map'] }}">
   <span class="glyphicon glyphicon-picture"></span> Map
  </a></li>
  {% endif %}
  {% if links['types'] %}
  <li role="presentation"><a role="button" target="_blank" href="{{ links['types'] }}">
   <span class="glyphicon glyphicon-th"></span> {% if args['rouces'] == "type" %}Co-occurring types{% else %}Type distribution{% endif %}
  </a></li>
  {% endif %}
</ul>

<p></p>

<div class="table-responsive">
<table class="table">
{% for nro in data['poems'] %}
<tr>
<td><b>{% if nro in data['minor'] %}*{% endif %}<a href="/poem?nro={{ nro }}">{{ data['poems'][nro].smd.title }}</a></b></td>
<td><small>{{ data['poems'][nro].smd.year }}</small></td>
<td><small>{{ data['poems'][nro].smd.place }}</small></td>
<td><small>{{ data['poems'][nro].smd.collector }}</small></td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endif %}

</div>

<div class="col-md-2"></div>
</div>
</div>

</body>
</html>
