<p>
[
<a href="{{ links['csv'] }}">CSV</a>
/
<a href="{{ links['tsv'] }}">TSV</a>
][
<a href="{{ links['-t'] }}">lower</a>
/
<a href="{{ links['+t'] }}">higher</a>
threshold
]
</p>

<table>
  <tr>
    <td></td><td></td>
    <td>
      <small>[<a href="/poem?nro={{ data['p1'].nro }}">to poem</a>]</small>
      <h2>{{ data['p1'].smd.title }}</h2>
      <small> {{ data['p1'].nro }}<br /> </small>
      <small> {{ data['p1'].smd.location }}<br /> </small>
      <small> {{ data['p1'].smd.year }}&nbsp;{{ data['p1'].smd.collector }}<br /> </small>
    </td>
    <td width="30"></td>
    <td>
      <small>[<a href="/poem?nro={{ data['p2'].nro }}">to poem</a>]</small>
      <h2>{{ data['p2'].smd.title }}</h2>
      <small> {{ data['p2'].nro }}<br /> </small>
      <small> {{ data['p2'].smd.location }}<br /> </small>
      <small> {{ data['p2'].smd.year }}&nbsp;{{ data['p2'].smd.collector }}<br /> </small>
    </td>
  </tr>
  {% for key in data['meta_keys'] %}
  <tr>
    <td></td><td></td>
    <td width="350">
      <small><b>{{ key }}:</b> {{ data['p1'].meta[key] }}</small>
    </td>
    <td></td>
    <td width="350">
      <small><b>{{ key }}:</b> {{ data['p2'].meta[key] }}</small>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td></td><td></td>
    <td valign="top">
      <small>
        {% for line in data['p1'].type_tree %}
        {% if line.is_minor %}<font color="gray">{% endif %}{{ line.prefix | join('\u2003') }} {{ data['types'][line.type_id].name }}{% if line.is_minor %}</font>{% endif %}<br/>
        {% endfor %}
      </small>
    </td>
    <td></td>
    <td valign="top">
      <small>
        {% for line in data['p2'].type_tree %}
        {% if line.is_minor %}<font color="gray">{% endif %}{{ line.prefix | join('\u2003') }} {{ data['types'][line.type_id].name }}{% if line.is_minor %}</font>{% endif %}<br/>
        {% endfor %}
      </small>
    </td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
    {% for x, y, w in data['alignment'] %}
  </tr>

  <tr>
    <td bgcolor="{{ w[1] }}"><div title="{{ "%0.2f"|format(w[0]) }}">
       &nbsp;&nbsp;&nbsp;</div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td>
      {% for c, t in x %}{% if t %}{% if c %}<font color="{{ c }}"
        >{% endif %}{{ t }}{% if c %}</font
      >{% endif %}{% endif %}{% endfor %}
    </td>
    <td></td>
    <td>
      {% for c, t in y %}{% if t %}{% if c %}<font color="{{ c }}"
        >{% endif %}{{ t }}{% if c %}</font
      >{% endif %}{% endif %}{% endfor %}
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="5">
    <hr/>
    <table border="0">
    <tr><td align="right"><small>raw similarity:</small></td><td><small>{{ '%.1f' % data['scores'][0] }}</small></td></tr>
    <tr><td align="right"><small>symmetric normalized:</small></td><td><small>{{ (data['scores'][1]*100) | int }} %</small></td></tr>
    <tr><td align="right"><small>left-normalized:</small></td><td><small>{{ (data['scores'][2]*100) | int }} %</small></td></tr>
    <tr><td align="right"><small>right-normalized:</small></td><td><small>{{ (data['scores'][3]*100) | int }} %</small></td></tr>
    <tr><td align="right"><small>old normalization:</small></td><td><small>{{ (data['scores'][4]*100) | int }} %</small></td></tr>
    </table>
    </small>
    </td>
  </tr>
</table>