<script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/dist/selection.min.js"></script>
<style>
  .selected {
    color: red
  }
</style>
[<a target="_parent" href="/">to index</a>]
<h1>{{ p.smd.title }}</h1>

<small>{{ p.smd.nro }}</small><br/>
{{ p.smd.location }}<br/>
{{ p.smd.year }}&ensp;{{ p.smd.collector }}

<h2>Metadata</h2>
<table>
  {% for key, val in p.meta.items() %}
  <tr>
    <td align="right" width="50"><b>{{ key }}&ensp;</b></td>
    <td width="350">{{ val }}</td></tr>
  {% endfor %}
</table>

<h2>Themes</h2>
{% for d, p, minor, t in themes %}
{% if minor %}<font color="gray">{% endif %}{{ p | join('\u2003') }} {% if minor %}<small>{% endif %}<a href="/theme?id={{ t[0] }}">{{ t[1] }}</a>{% if minor %}</small></font>{% endif %}<br/>
{% endfor %}

<h2>Similar poems</h2>

{% if sim_poems %}
<p><small>[<a href="/multidiff?nro={{ p.smd.nro }},{{ sim_poems | map(attribute=1) | map(attribute='nro') | join(',') }}">compare all</a>]</small></p>
{% endif %}

<table style="user-select: none">
{% for sp in sim_poems %}
  <tr>
    <td align="right">
    <a href="/poemdiff?nro1={{ p.smd.nro }}&nro2={{ sp[1].nro }}">{{ sp[1].title }}</a>
      &ensp;
    </td>
    <td>
      <img src="/static/img/blue.png" width="{{ (sp[0]*300) | int }}" height="10">
      &ensp;<small>{{ (sp[0]*100) | int }} %&emsp;</small>
    </td>
    <td>
      <small>{{ sp[1].year }}</small>
    </td>
    <td>
      <small>{{ sp[1].location }}</small>
    </td>
    <td>
      <small>{{ sp[1].collector }}</small>
    </td>
  </tr>
  {% endfor %}
</table>

<h2>Text</h2>
<table cellspacing="0" cellpadding="2">
  {% for v in verses %}
  <tr>
    {% if v[3] == "V" %}
      <td bgcolor="{{ v[2] }}" align="right" width="19">
        <a name="{{ v[0] }}" href="/verse?nro={{ p.smd.nro }}&pos={{ v[0] }}">
          <img src="/static/img/transparent.png" width="15" height="15" title="{{ v[1] }} similar" alt="{{ v[2] }}">
        </a>
      </td>
      <td align="right" width="35">&ensp;<sup><small>{{ v[0] }}</a></small></sup></td>
      <td width="350" class="verse" id="{{ v[0] }}">
      {% if v[0] in hl %}
        <b>{{ v[4] }}</b>
      {% else %}
        {{ v[4] }}
      {% endif %}</td>
    {% else %}
      {% if v[3] == "L" %}
      <td></td><td></td><td><small><i>{{ v[4] }}</i></small></td>
      {% elif v[3] == "K" %}
      <td></td><td></td><td><small>{{ v[4] }}</small></td>
      {% elif v[3] == "CPT" %}
      <td colspan="3" align="center">
        <h4>{{ v[4] }}</h4>
      </td>
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
  <tr><td colspan="3"><hr/></td></tr>
  <tr><td colspan="3">
    <small>
    {% for r in refs %}
    {{ r }}<br/>
    {% endfor %}
    </small>
  </td></tr>
</table>
<script lang="javascript">
  const ds = new Selection({
    selectables: '.verse'
  })
  ds.on('move', ({ changed: { removed, added } }) => {
      for (const el of added)
        el.classList.add('selected')
      for (const el of removed)
        el.classList.remove('selected')
    })
  ds.on('stop', ({inst,selected}) => {
    inst.clearSelection()
    window.open('/passage?nro={{ p.smd.nro }}&start=' + selected[0].id + '&end=' + selected[selected.length - 1].id,'_self')
  })
</script>

