<html>
<head>
<title>Runoregi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

<div class="page-header">
<h1 style="margin-left: 20px;">Runoregi</h1>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-4">

<div class="panel panel-primary">
<div class="panel-heading">
<div class="pull-right hover-text">
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
<div class="tooltip-text tooltip-text-right">
<p>The search functionality is work in progress.
For more advanced searches, consider using
<a href="https://jiemakel.github.io/octavo-nui/#/search?endpoint=https%3A%2F%2Ffilter-octavo.rahtiapp.fi%2Ffilter%2F&level=POEM">Octavo</a>.
</div>
</div>
<h2 class="panel-title">Search</h2>
</div>
<div class="panel-body">
<center>
<form method="GET" action="/search">
<input type="text" name="q" size="30"/>
<input type="submit" value="Search"/>
</form>
</center>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">
<div class="pull-right hover-text">
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
<div class="tooltip-text tooltip-text-right">
<p>The SKVR and ERAB indices shown below are <b>unpublished work in progress</b>
used with permission of the authors.</p>
</div>
</div>
<h2 class="panel-title">Index hierarchy</h2>
</div>
<div class="panel-body">

<h3>SKVR</h3>
{% for line in data['tree']['skvr'] %}
{% if loop.index0+1 == data['tree']['skvr'] | length %}
<span style="margin-left: {{ 20 * (line.prefix | length)+18 }}px;"><a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a></span>
{% for i in range(line.prefix | length) %}
</details>
{% endfor %}
{% else %}
  {% if line.prefix | length < data['tree']['skvr'][loop.index0+1].prefix | length %}
<details>
<summary style="display: list-item; margin-left: {{ 20 * (line.prefix | length) }}px;">
<a style="cursor: pointer;">{{ data['types'][line.type_id].name }}</a>
</summary>
  {% else %}
<span style="margin-left: {{ 20 * (line.prefix | length )+18 }}px;"><a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a></span><br/>
  {% for i in range((line.prefix | length) - (data['tree']['skvr'][loop.index0+1].prefix | length)) %}
</details>
  {% endfor %}
  {% endif %}
{% endif %}
{% endfor %}

<h3>ERAB</h3>
{% for line in data['tree']['erab'] %}
{% if loop.index0+1 == data['tree']['erab'] | length %}
<span style="margin-left: {{ 20 * (line.prefix | length)+18 }}px;"><a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a></span>
{% for i in range(line.prefix | length) %}
</details>
{% endfor %}
{% else %}
  {% if line.prefix | length < data['tree']['erab'][loop.index0+1].prefix | length %}
<details>
<summary style="display: list-item; margin-left: {{ 20 * (line.prefix | length) }}px;">
<a style="cursor: pointer;">{{ data['types'][line.type_id].name }}</a>
</summary>
  {% else %}
<span style="margin-left: {{ 20 * (line.prefix | length )+18 }}px;"><a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a></span><br/>
  {% for i in range((line.prefix | length) - (data['tree']['erab'][loop.index0+1].prefix | length)) %}
</details>
  {% endfor %}
  {% endif %}
{% endif %}
{% endfor %}

<h3>Additional literary works</h3>
<details>
<summary style="display: list-item;"><a style="cursor: pointer;">Kalevala (1849)</a></summary>
<table style="margin-left: 20px;">
<tr>
<td>&ensp;<a href="/poem?nro=kalevala01">I</a></td>
<td>&ensp;<a href="/poem?nro=kalevala02">II</a></td>
<td>&ensp;<a href="/poem?nro=kalevala03">III</a></td>
<td>&ensp;<a href="/poem?nro=kalevala04">IV</a></td>
<td>&ensp;<a href="/poem?nro=kalevala05">V</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala06">VI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala07">VII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala08">VIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala09">IX</a></td>
<td>&ensp;<a href="/poem?nro=kalevala10">X</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala11">XI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala12">XII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala13">XIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala14">XIV</a></td>
<td>&ensp;<a href="/poem?nro=kalevala15">XV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala16">XVI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala17">XVII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala18">XVIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala19">XIX</a></td>
<td>&ensp;<a href="/poem?nro=kalevala20">XX</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala21">XXI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala22">XXII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala23">XXIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala24">XXIV</a></td>
<td>&ensp;<a href="/poem?nro=kalevala25">XXV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala26">XXVI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala27">XXVII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala28">XXVIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala29">XXIX</a></td>
<td>&ensp;<a href="/poem?nro=kalevala30">XXX</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala31">XXXI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala32">XXXII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala33">XXXIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala34">XXXIV</a></td>
<td>&ensp;<a href="/poem?nro=kalevala35">XXXV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala36">XXXVI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala37">XXXVII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala38">XXXVIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala39">XXXIX</a></td>
<td>&ensp;<a href="/poem?nro=kalevala40">XL</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala41">XLI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala42">XLII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala43">XLIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala44">XLIV</a></td>
<td>&ensp;<a href="/poem?nro=kalevala45">XLV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevala46">XLVI</a></td>
<td>&ensp;<a href="/poem?nro=kalevala47">XLVII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala48">XLVIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevala49">XLIX</a></td>
<td>&ensp;<a href="/poem?nro=kalevala50">L</a></td>
</tr>
</table>
</details>


<details>
<summary style="display: list-item;"><a style="cursor: pointer;">Wanha Kalevala (1835)</a></summary>
<table style="margin-left: 20px;">
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala01">I</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala02">II</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala03">III</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala04">IV</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala05">V</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala06">VI</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala07">VII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala08">VIII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala09">IX</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala10">X</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala11">XI</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala12">XII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala13">XIII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala14">XIV</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala15">XV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala16">XVI</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala17">XVII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala18">XVIII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala19">XIX</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala20">XX</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala21">XXI</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala22">XXII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala23">XXIII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala24">XXIV</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala25">XXV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala26">XXVI</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala27">XXVII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala28">XXVIII</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala29">XXIX</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala30">XXX</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=vkalevala31">XXXI</a></td>
<td>&ensp;<a href="/poem?nro=vkalevala32">XXXII</a></td>
<td colspan = "3">&ensp;<a href="/poem?nro=vkalevala33">Epilogue</a></td>
</tr>
</table>
</details>

<details>
<summary style="display: list-item;"><a style="cursor: pointer;">Kanteletar</a></summary>
{% for line in data['tree']['kt'] %}
{% if loop.index0+1 == data['tree']['kt'] | length %}
<span style="margin-left: {{ 20 * (line.prefix | length + 1)+18 }}px;"><a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a></span>
{% for i in range(line.prefix | length) %}
</details>
{% endfor %}
{% else %}
  {% if line.prefix | length < data['tree']['kt'][loop.index0+1].prefix | length %}
<details>
<summary style="display: list-item; margin-left: {{ 20 * (line.prefix | length + 1) }}px;">
<a style="cursor: pointer;">{{ data['types'][line.type_id].name }}</a>
</summary>
  {% else %}
<span style="margin-left: {{ 20 * (line.prefix | length + 1)+18 }}px;"><a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a></span><br/>
  {% for i in range((line.prefix | length) - (data['tree']['kt'][loop.index0+1].prefix | length)) %}
</details>
  {% endfor %}
  {% endif %}
{% endif %}
{% endfor %}
</details>

<details>
<summary style="display: list-item;"><a style="cursor: pointer;">Kalevipoeg</a></summary>
<table style="margin-left: 20px;">
<tr>
<td>&ensp;<a href="/poem?nro=kalevipoeg0a">A</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg0b">B</a></td>
<td colspan="3"></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevipoeg01">I</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg02">II</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg03">III</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg04">IV</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg05">V</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevipoeg06">VI</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg07">VII</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg08">VIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg09">IX</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg10">X</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevipoeg11">XI</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg12">XII</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg13">XIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg14">XIV</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg15">XV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=kalevipoeg16">XVI</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg17">XVII</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg18">XVIII</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg19">XIX</a></td>
<td>&ensp;<a href="/poem?nro=kalevipoeg20">XX</a></td>
</tr>
</table>
</details>

<details>
<summary style="display: list-item;"><a style="cursor: pointer;">Ilo-laulu Jesuksesta</a></summary>
<table style="margin-left: 20px;">
<tr>
<td>&ensp;<a href="/poem?nro=ilj01">I</a></td>
<td>&ensp;<a href="/poem?nro=ilj02">II</a></td>
<td>&ensp;<a href="/poem?nro=ilj03">III</a></td>
<td>&ensp;<a href="/poem?nro=ilj04">IV</a></td>
<td>&ensp;<a href="/poem?nro=ilj05">V</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=ilj06">VI</a></td>
<td>&ensp;<a href="/poem?nro=ilj07">VII</a></td>
<td>&ensp;<a href="/poem?nro=ilj08">VIII</a></td>
<td>&ensp;<a href="/poem?nro=ilj09">IX</a></td>
<td>&ensp;<a href="/poem?nro=ilj10">X</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=ilj11">XI</a></td>
<td>&ensp;<a href="/poem?nro=ilj12">XII</a></td>
<td>&ensp;<a href="/poem?nro=ilj13">XIII</a></td>
<td>&ensp;<a href="/poem?nro=ilj14">XIV</a></td>
<td>&ensp;<a href="/poem?nro=ilj15">XV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=ilj16">XVI</a></td>
<td>&ensp;<a href="/poem?nro=ilj17">XVII</a></td>
<td>&ensp;<a href="/poem?nro=ilj18">XVIII</a></td>
<td>&ensp;<a href="/poem?nro=ilj19">XIX</a></td>
<td>&ensp;<a href="/poem?nro=ilj20">XX</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=ilj21">XXI</a></td>
<td>&ensp;<a href="/poem?nro=ilj22">XXII</a></td>
<td>&ensp;<a href="/poem?nro=ilj23">XXIII</a></td>
<td>&ensp;<a href="/poem?nro=ilj24">XXIV</a></td>
<td>&ensp;<a href="/poem?nro=ilj25">XXV</a></td>
</tr>
<tr>
<td>&ensp;<a href="/poem?nro=ilj26">XXVI</a></td>
<td>&ensp;<a href="/poem?nro=ilj27">XXVII</a></td>
<td>&ensp;<a href="/poem?nro=ilj28">XXVIII</a></td>
<td colspan="2">&ensp;<a href="/poem?nro=ilj29">Päätös</a></td>
</tr>
</table>
</details>

<p></p>

</div>
</div>
</div>

<div class="col-md-8">

<div class="panel panel-primary">
<div class="panel-body">

<h2>About the project</h2>

<p>Runoregi is a Web-based user interface for browsing a large corpus of Finnic 
tetrameter poetry. In addition to combining several independent collections, it 
also provides innovative similarity detection and visualization algorithms, 
allowing the user to quickly move between related texts, read similar texts in 
a side-by-side view, find occurrences of lines and passages regardless of 
linguistic variation, and more.</p>

<p>The data currently combines the following collections:
<ul>
<li><a href="https://skvr.fi/">Suomen Kansan Vanhat Runot</a> (Old Poems of the Finnish People; SKVR)
<li><a href="https://www.folklore.ee/regilaul/andmebaas/">Eesti Regilaulude Andmebaas</a> (Estonian Runosongs Database; ERAB)
<li>A corpus of previously unpublished poems in possession of the <a href="https://www.finlit.fi/">Finnish Literature Society</a> (available online only here - poem titles starting with “JR”)
<li>Publicly available literary works related to oral folk poetry: Kalevala, Kanteletar, Kalevipoeg
</ul></p>

<p>Runoregi is part of the active research project
<a href="https://blogs.helsinki.fi/filter-project/">“Formulaic intertextuality, 
thematic networks and poetic variation across regional cultures of Finnic oral 
poetry” (FILTER)</a> funded by the Academy of Finland grant no. 333138. As such, 
it is <b>experimental</b> and <b>under constant development</b>: frequent 
changes to both the
interface and the functionality are to be expected, some of the shown 
information might be incomplete or incorrect, and at the current stage the main 
purpose of making it available to the public is demonstrating the progress and 
possibilities of the computational methods we apply, rather than providing a 
ready-to-use and reliable resource. For any applications
<b>it should be considered an alpha version</b>.</p>

<p>We intend to release the complete source code openly by the end of the project 
(spring 2024) the latest. The following parts are available so far:
<ul>
<li><a href="https://github.com/maciejjan/matrix-align">matrix-align</a> – optimized sequence alignment computation for large datasets
<li><a href="https://github.com/hsci-r/shortsim">shortsim</a> – a Python library and toolkit for string similarity computations
</ul></p>

<p>If you use Runoregi in your research, please cite:
<ul>
<li>Maciej Janicki, Kati Kallio & Mari Sarv (2022). Exploring Finnic written 
oral folk poetry through string similarity. <i>Digital Scholarship in the 
Humanities</i>. <a href="https://doi.org/10.1093/llc/fqac034">https://doi.org/10.1093/llc/fqac034</a>
</ul></p>

<p>Contact persons:
<ul>
<li><a href="https://researchportal.helsinki.fi/fi/persons/maciej-michal-janicki">Maciej Janicki</a>, University of Helsinki (code and computational methods)
<li><a href="https://www.finlit.fi/fi/tutkimus/loyda-asiantuntija/kati-kallio">Kati Kallio</a> & Jukka Saarinen, Finnish Literature Society (Finnish collections)
<li><a href="https://www.etis.ee/CV/Mari_Sarv/eng">Mari Sarv</a>, Estonian Literary Museum (Estonian collections)
</ul></p>

</div>
</div>

</div>
</div>
</div>

</body>
</html>
