<html>
<head>
<title>Runoregi</title>
</head>
<body>
<center>
[<a href="#about">about</a>]
<h1>Runoregi</h1>
<form method="GET" action="/search">
<table border="0">
<tr>
<td colspan="2" align="center">
<input type="text" name="q" size="50"/>
<input type="submit" value="Search"/>
</td>
</tr>
<tr>
<td>
<b>Method:</b><br/>
<input type="radio" id="fulltext" name="method" value="plain" checked="">
<label for="fulltext">Plain text</label><br/>
<input type="radio" id="regex" name="method" value="regex">
<label for="regex">Regular expression</label>
</td>
<td>
<b>Search in:</b><br/>
<input type="checkbox" id="themes" name="themes" value="true" checked="">
<label for="themes">Theme index</label><br/>
<input type="checkbox" id="meta" name="meta" value="true">
<label for="meta">Poem metadata</label><br/>
<input type="checkbox" id="verses" name="verses" value="true">
<label for="verses">Poem text (verses)</label><br/>
</td>
</tr>
</table>
</form>
</center>
<hr/>
<h2>Top-level categories</h2>
<h3>SKVR</h3>
<ul>
{% for theme_id, name in cat['skvr'] %}
<li/><a href="/theme?id={{ theme_id }}">{{ name }}</a>
{% endfor %}
</ul>
or: <a href="/skvr-themes">Entire SKVR index on one page</a>
<h3>Regilaul</h3>
<ul>
{% for theme_id, name in cat['erab'] %}
<li/><a href="/theme?id={{ theme_id }}">{{ name }}</a>
{% endfor %}
</ul>
<h3>Kalevala</h3>
<table>
<tr>
<td><a href="/poem?nro=kalevala01">I</a></td>
<td><a href="/poem?nro=kalevala02">II</a></td>
<td><a href="/poem?nro=kalevala03">III</a></td>
<td><a href="/poem?nro=kalevala04">IV</a></td>
<td><a href="/poem?nro=kalevala05">V</a></td>
<td><a href="/poem?nro=kalevala06">VI</a></td>
<td><a href="/poem?nro=kalevala07">VII</a></td>
<td><a href="/poem?nro=kalevala08">VIII</a></td>
<td><a href="/poem?nro=kalevala09">IX</a></td>
<td><a href="/poem?nro=kalevala10">X</a></td>
</tr>
<tr>
<td><a href="/poem?nro=kalevala11">XI</a></td>
<td><a href="/poem?nro=kalevala12">XII</a></td>
<td><a href="/poem?nro=kalevala13">XIII</a></td>
<td><a href="/poem?nro=kalevala14">XIV</a></td>
<td><a href="/poem?nro=kalevala15">XV</a></td>
<td><a href="/poem?nro=kalevala16">XVI</a></td>
<td><a href="/poem?nro=kalevala17">XVII</a></td>
<td><a href="/poem?nro=kalevala18">XVIII</a></td>
<td><a href="/poem?nro=kalevala19">XIX</a></td>
<td><a href="/poem?nro=kalevala20">XX</a></td>
</tr>
<tr>
<td><a href="/poem?nro=kalevala21">XXI</a></td>
<td><a href="/poem?nro=kalevala22">XXII</a></td>
<td><a href="/poem?nro=kalevala23">XXIII</a></td>
<td><a href="/poem?nro=kalevala24">XXIV</a></td>
<td><a href="/poem?nro=kalevala25">XXV</a></td>
<td><a href="/poem?nro=kalevala26">XXVI</a></td>
<td><a href="/poem?nro=kalevala27">XXVII</a></td>
<td><a href="/poem?nro=kalevala28">XXVIII</a></td>
<td><a href="/poem?nro=kalevala29">XXIX</a></td>
<td><a href="/poem?nro=kalevala30">XXX</a></td>
</tr>
<tr>
<td><a href="/poem?nro=kalevala31">XXXI</a></td>
<td><a href="/poem?nro=kalevala32">XXXII</a></td>
<td><a href="/poem?nro=kalevala33">XXXIII</a></td>
<td><a href="/poem?nro=kalevala34">XXXIV</a></td>
<td><a href="/poem?nro=kalevala35">XXXV</a></td>
<td><a href="/poem?nro=kalevala36">XXXVI</a></td>
<td><a href="/poem?nro=kalevala37">XXXVII</a></td>
<td><a href="/poem?nro=kalevala38">XXXVIII</a></td>
<td><a href="/poem?nro=kalevala39">XXXIX</a></td>
<td><a href="/poem?nro=kalevala40">XL</a></td>
</tr>
<tr>
<td><a href="/poem?nro=kalevala41">XLI</a></td>
<td><a href="/poem?nro=kalevala42">XLII</a></td>
<td><a href="/poem?nro=kalevala43">XLIII</a></td>
<td><a href="/poem?nro=kalevala44">XLIV</a></td>
<td><a href="/poem?nro=kalevala45">XLV</a></td>
<td><a href="/poem?nro=kalevala46">XLVI</a></td>
<td><a href="/poem?nro=kalevala47">XLVII</a></td>
<td><a href="/poem?nro=kalevala48">XLVIII</a></td>
<td><a href="/poem?nro=kalevala49">XLIX</a></td>
<td><a href="/poem?nro=kalevala50">L</a></td>
</tr>
</table>
<h3>Kanteletar</h3>
<ul>
{% for theme_id, name in cat['kanteletar'] %}
<li/><a href="/theme?id={{ theme_id }}">{{ name }}</a>
{% endfor %}
</ul>
<h3>Kalevipoeg</h3>
<table>
<tr>
<td><a href="/poem?nro=kalevipoeg0a">A</a></td>
<td><a href="/poem?nro=kalevipoeg0b">B</a></td>
<td colspan="8"></td>
</tr>
<tr>
<td><a href="/poem?nro=kalevipoeg01">I</a></td>
<td><a href="/poem?nro=kalevipoeg02">II</a></td>
<td><a href="/poem?nro=kalevipoeg03">III</a></td>
<td><a href="/poem?nro=kalevipoeg04">IV</a></td>
<td><a href="/poem?nro=kalevipoeg05">V</a></td>
<td><a href="/poem?nro=kalevipoeg06">VI</a></td>
<td><a href="/poem?nro=kalevipoeg07">VII</a></td>
<td><a href="/poem?nro=kalevipoeg08">VIII</a></td>
<td><a href="/poem?nro=kalevipoeg09">IX</a></td>
<td><a href="/poem?nro=kalevipoeg10">X</a></td>
</tr>
<tr>
<td><a href="/poem?nro=kalevipoeg11">XI</a></td>
<td><a href="/poem?nro=kalevipoeg12">XII</a></td>
<td><a href="/poem?nro=kalevipoeg13">XIII</a></td>
<td><a href="/poem?nro=kalevipoeg14">XIV</a></td>
<td><a href="/poem?nro=kalevipoeg15">XV</a></td>
<td><a href="/poem?nro=kalevipoeg16">XVI</a></td>
<td><a href="/poem?nro=kalevipoeg17">XVII</a></td>
<td><a href="/poem?nro=kalevipoeg18">XVIII</a></td>
<td><a href="/poem?nro=kalevipoeg19">XIX</a></td>
<td><a href="/poem?nro=kalevipoeg20">XX</a></td>
</tr>
</table>
<hr/>
<h2><a name="about">About the project</a></h2>

<p>Runoregi is a Web-based user interface for browsing a large corpus of Finnic 
tetrameter poetry. In addition to combining several independent collections, it 
also provides innovative similarity detection and visualization algorithms, 
allowing the user to quickly move between related texts, read similar texts in 
a side-by-side view, find occurrences of lines and passages regardless of 
linguistic variation, and more.</p>

<p>The data currently combines the following collections:
<ul>
<li><a href="https://skvr.fi/">Suomen Kansan Vanhat Runot</a> (Old Poems of the Finnish People; SKVR)
<li><a href="https://www.folklore.ee/regilaul/andmebaas/">Eesti Regilaulude Andmebaas</a> (Estonian Runosongs Database; ERAB)
<li>A corpus of previously unpublished poems in possession of the <a href="https://www.finlit.fi/">Finnish Literature Society</a> (available online only here - poem titles starting with “JR”)
<li>Publicly available literary works related to oral folk poetry: Kalevala, Kanteletar, Kalevipoeg
</ul></p>

<p>Runoregi is part of the active research project
<a href="https://blogs.helsinki.fi/filter-project/">“Formulaic intertextuality, 
thematic networks and poetic variation across regional cultures of Finnic oral 
poetry” (FILTER)</a> funded by the Academy of Finland grant no. 333138. As such, 
it is <b>experimental</b> and <b>under constant development</b>: frequent 
changes to both the
interface and the functionality are to be expected, some of the shown 
information might be incomplete or incorrect, and at the current stage the main 
purpose of making it available to the public is demonstrating the progress and 
possibilities of the computational methods we apply, rather than providing a 
ready-to-use and reliable resource. For any applications
<b>it should be considered an alpha version</b>.</p>

<p>We intend to release the complete source code openly by the end of the project 
(spring 2024) the latest. The following parts are available so far:
<ul>
<li><a href="https://github.com/hsci-r/shortsim">shortsim</a> – a Python library and toolkit for string similarity computations
</ul></p>

<p>If you use Runoregi in your research, please cite:
<ul>
<li>Maciej Janicki, Kati Kallio & Mari Sarv (2022). Exploring Finnic written 
oral folk poetry through string similarity. <i>Digital Scholarship in the 
Humanities</i>. <a href="https://doi.org/10.1093/llc/fqac034">https://doi.org/10.1093/llc/fqac034</a>
</ul></p>

<p>Contact persons:
<ul>
<li>Maciej Janicki, University of Helsinki (code and computational methods)
<li>Kati Kallio & Jukka Saarinen, Finnish Literature Society (Finnish collections)
<li>Mari Sarv, Estonian Literary Museum (Estonian collections)
</ul></p>

</body>
</html>
