<html>
<head>
<title>{{ data['types'][args['id']].name }} — Runoregi</title>
<link rel="stylesheet" href="./static/style.css">
</head>

<body>
[<a href="/search">index</a>] &gt;
{% for t in data['types'][args['id']].ancestors | reverse %}
<a href="/theme?id={{ t }}">{{ data['types'][t].name }}</a> &gt;
{% endfor %}
<h1>{{ data['types'][args['id']].name }}</h1>
{{ data['types'][args['id']].description }}
{% if data['tree'] %}
<h2>Subcategories</h2>
{% for line in data['tree'] %}
{{ line.prefix | join('\u2003') }} <a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a><br/>
{% endfor %}
{% endif %}
{% if data['poems'] %}
<h2>Poems</h2>
<p><small>[<a href="/dendrogram?source=theme&theme_id={{ args['id'] }}">dendrogram</a>]</small></p>
<table>
{% for nro in data['poems'] %}
<tr>
<td><b>{% if nro in data['minor'] %}*{% endif %}<a href="/poem?nro={{ nro }}">{{ data['poems'][nro].smd.title }}</a></b></td>
<td><small>{{ data['poems'][nro].smd.year }}</small></td>
<td><small>{{ data['poems'][nro].smd.location }}</small></td>
<td><small>{{ data['poems'][nro].smd.collector }}</small></td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>
