<html>
<head>
<title>{{ data['types'][args['id']].name }} — Runoregi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

{% if data['maintenance'] %}
<div class="alert alert-warning" role="alert">
<b>Warning!</b> A database update is ongoing. Some pages might not
function properly.
</div>
{% endif %}

<ul class="nav nav-pills">
<li role="presentation"><a role="button" href="/" title="to index">
 <span class="glyphicon glyphicon-home"></span>
</a></li>
{% for t in data['types'][args['id']].ancestors | reverse %}
<li role="presentation"><a role="button" href="/theme?id={{ t }}">
 <span class="glyphicon glyphicon-chevron-right"></span>
{{ data['types'][t].name }}
</a></li>
{% endfor %}
</ul>

<div class="page-header">
<h1 style="margin-left: 20px;">{{ data['types'][args['id']].name }}</h1>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">

<div class="lead">
<p style="margin-left: 20px;">{{ data['types'][args['id']].description }}</p>
</div>

{% if data['tree'] %}
<h2>Subcategories</h2>
{% for line in data['tree'] %}
{{ line.prefix | join('\u2003') }} <a href="/theme?id={{ line.type_id }}">{{ data['types'][line.type_id].name }}</a><br/>
{% endfor %}
{% endif %}
{% if data['poems'] %}

<div class="panel panel-primary">
<div class="panel-heading"><h2 class="panel-title">Poems</h2></div>
<div class="panel-body">

<ul class="nav nav-pills">
  <li role="presentation"><a role="button" href="/dendrogram?source=theme&theme_id={{ args['id'] }}">
   <span class="glyphicon glyphicon-tree-conifer"></span> Dendrogram
  </a></li>
  {% if links['map'] %}
  <li role="presentation"><a role="button" target="_blank" href="{{ links['map'] }}">
   <span class="glyphicon glyphicon-picture"></span> Map
  </a></li>
  {% endif %}
  {% if links['cooc-types'] %}
  <li role="presentation"><a role="button" target="_blank" href="{{ links['cooc-types'] }}">
   <span class="glyphicon glyphicon-th"></span> Co-occurring types
  </a></li>
  {% endif %}
</ul>

<p></p>

<div class="table-responsive">
<table class="table">
{% for nro in data['poems'] %}
<tr>
<td><b>{% if nro in data['minor'] %}*{% endif %}<a href="/poem?nro={{ nro }}">{{ data['poems'][nro].smd.title }}</a></b></td>
<td><small>{{ data['poems'][nro].smd.year }}</small></td>
<td><small>{{ data['poems'][nro].smd.location }}</small></td>
<td><small>{{ data['poems'][nro].smd.collector }}</small></td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endif %}

</div>

<div class="col-md-2"></div>
</div>
</div>

</body>
</html>
