<html>
<head>
<title>{{ data['name'] }} — Runoregi</title>
</head>
<body>
[<a href="/search">index</a>] &gt;
{% for theme_id, name in data['upper'] %}
<a href="/theme?id={{ theme_id }}">{{ data['name'] }}</a> &gt;
{% endfor %}
<h1>{{ data['name'] }}</h1>
{{ data['desc'] }}
{% if data['subcat'] %}
<h2>Subcategories</h2>
{% for d, p, minor, t in data['subcat'] %}
{{ p | join('\u2003') }} <a href="/theme?id={{ t[0] }}">{{ t[1] }}</a><br/>
{% endfor %}
{% endif %}
{% if data['poems'] %}
<h2>Poems</h2>
<p><small>[<a href="/dendrogram?source=theme&theme_id={{ args['id'] }}">dendrogram</a>]</small></p>
<table>
{% for (p_id, is_minor), smd in data['poems'] %}
<tr>
<td><b>{% if is_minor %}*{% endif %}<a href="/poem?nro={{ smd.nro }}">{{ smd.title }}</a></b></td>
<td><small>{{ smd.year }}</small></td>
<td><small>{{ smd.location }}</small></td>
<td><small>{{ smd.collector }}</small></td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>
