<html>
<head>
<title>#{{clust_id}} {{ text }}</title>
</head>

<body>
<h1><small>#{{clust_id}}</small> {{ text }}</h1>
[<a href="/poem?nro={{ nro }}">back to poem</a>]
[<a href="/verse?nro={{ nro }}&pos={{ pos }}{% if clustering_id > 0 %}&clustering={{ clustering_id }}{% endif %}&format=csv">CSV</a>
/ <a href="/verse?nro={{ nro }}&pos={{ pos }}{% if clustering_id > 0 %}&clustering={{ clustering_id }}{% endif %}&format=tsv">TSV</a>]
[<a href="{{ map_lnk }}">map</a>]
[<a href="/clustnet?nro={{ nro }}&pos={{ pos }}">cluster network</a>]<br/>

<h2>Cluster ({{ freq }})</h2>
clustering: 
{% for c in clusterings %}
{% if clustering_id == c[0] %}
{{ c[1] }}
{% else %}
<a href="/verse?nro={{ nro }}&pos={{ pos }}{% if c[0] > 0 %}&clustering={{ c[0] }}{% endif %}">{{ c[1] }}</a>
{% endif %}
{% endfor %}
<table>
  <tr><td><hr/></td></tr>
  {% for v in verses %}
  <tr><td{% if v[0] == nro %} bgcolor="FFEEAA"{% endif %}>
    <table>
    <tr>
      <td valign="top">
        <b><a href="/poem?nro={{ v[0] }}&hl={{ v[1] | map(attribute=0) | join(',')  }}#{{ v[1] | map(attribute=0) | min }}">
	  {{ v[2] }}
	</a></b>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
	{% for pos, v_id, text in v[1] %}
	<tr>
          <td align="right"><sup><small>{{ pos }}</small></sup>&thinsp;</td>
	  <td><b>{{ text }}</b></td>
	</tr>
	{% endfor %}
	</table>
      </td>
    </tr>
    </table>
    <table>
    <tr>
    <td valign="top" width="400">
      &emsp;<small>{{ v[0] }}</small><br/>
      &emsp;{{ v[3] }}<br/>
      &emsp;{{ v[4] }}&ensp;{{ v[5] }}
    </td>
    <td valign="top" width="400">
      <small>
      {% for d, p, minor, t in v[6] %}
      {% if minor %}<font color="gray">{% endif %}{{ p | join('\u2003') }} {{ t[1] }}{% if minor %}</font>{% endif %}<br/>
      {% endfor %}
      </small>
    </td>
    </tr>
    {% if v[7] %}
    <tr><td width="800" colspan="2">
    <small>
    <b>See also: </b>
    {% for sv in v[7] %}
    <small>#{{ sv[3] }}</small> <a href="/verse?nro={{ sv[0] }}&pos={{ sv[1] }}{% if clustering_id > 0 %}&clustering={{ clustering_id }}{% endif %}">{{ sv[2] }}</a> ({{ sv[4] }})
    {% endfor %}
    </small>
    </td></tr>
    {% endif %}
    </table>
  </td></tr>
  <tr><td><hr/></td></tr>
  {% endfor %}
</table>

</body>
</html>
