<h1>{{ text }}</h1>
<small>[<a href="/poem?nro={{ nro }}">back to poem</a>]</small>

<h2>Cluster</h2>
<table>
  <tr><td><hr/></td></tr>
  {% for v in verses %}
  <tr><td{% if v_id in v[2] %} bgcolor="FFEEAA"{% endif %}>
    <table>
    <tr>
      <td valign="top">
        <b><a href="/poem?nro={{ v[0] }}&hl={{ v[1] | join(',')  }}#{{ v[1] | min }}">
	  {{ v[3] }}
	</a></b>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
	{% for pos, v_id, text in v[2] %}
	<tr>
          <td align="right"><sup><small>{{ pos }}</small></sup>&thinsp;</td>
	  <td><b>{{ text }}</b></td>
	</tr>
	{% endfor %}
	</table>
      </td>
    </tr>
    </table>
    <table>
    <tr>
    <td valign="top" width="400">
      &emsp;{{ v[4] }}<br/>
      &emsp;{{ v[5] }}&ensp;{{ v[6] }}
    </td>
    <td valign="top" width="400">
      <small><ul>
      {% for theme in v[7] %}
        <li>{{ theme }}
      {% endfor %}
      </ul></small>
    </td>
    </table>
  </td></tr>
  <tr><td><hr/></td></tr>
  {% endfor %}
</table>
