<h1>{{ text }}</h1>
<small>[<a href="/poem?nro={{ nro }}">back to poem</a>]</small>

<h2>Areal distribution</h2>
<table>
{% for region, freq in regions %}
<tr>
  <td>{{ region }}</td>
  <td>&emsp;<img src="/static/img/blue.png" width="{{ freq }}" height="10">&ensp;<small>{{ freq }}</small></td>
</tr>
{% endfor %}
</table>

<h2>Thematic distribution</h2>
<table>
{% for theme, freq in themes %}
<tr>
  <td>{{ theme }}</td>
  <td>&emsp;<img src="/static/img/blue.png" width="{{ freq }}" height="10">&ensp;<small>{{ freq }}</small></td>
</tr>
{% endfor %}
</table>

<h2>Cluster</h2>
<table>
  <tr><td><hr/></td></tr>
  {% for v in verses %}
  <tr><td{% if v_id in v[1] | map(attribute=1) %} bgcolor="FFEEAA"{% endif %}>
    <table>
    <tr>
      <td valign="top">
        <b><a href="/poem?nro={{ v[0] }}&hl={{ v[1] | map(attribute=0) | join(',')  }}#{{ v[1] | map(attribute=0) | min }}">
	  {{ v[2] }}
	</a></b>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
	{% for pos, v_id, text in v[1] %}
	<tr>
          <td align="right"><sup><small>{{ pos }}</small></sup>&thinsp;</td>
	  <td><b>{{ text }}</b></td>
	</tr>
	{% endfor %}
	</table>
      </td>
    </tr>
    </table>
    <table>
    <tr>
    <td valign="top" width="400">
      &emsp;{{ v[3] }}<br/>
      &emsp;{{ v[4] }}&ensp;{{ v[5] }}
    </td>
    <td valign="top" width="400">
      <small>
      {% for d, p, minor, t in v[6] %}
      {% if minor %}<font color="gray">{% endif %}{{ p | join('\u2003') }} {{ t }}{% if minor %}</font>{% endif %}<br/>
      {% endfor %}
      </small>
    </td>
    </tr>
    </table>
  </td></tr>
  <tr><td><hr/></td></tr>
  {% endfor %}
</table>
